body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #eef1ee;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF6DC;
    border-radius: 30px;
/*     border: 5px solid slategray; */
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 4px 4px #C4C1A4;
}

#game-field div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
    box-shadow: 0px 1px 1px 1px #292929;
    
}

#game-field div:active {
    box-shadow: 0px 0px 1px 1px #292929;
}

.tile0 {
    opacity: 0;
    /* background-color: white;
    border-color: white; */
}

.tile1 {
    background-color: #846AA7;
    border-color: #846AA7;
    transition: transform 0.2s ease-in-out;
}

.tile2 {
    background-color: #E2668B;
    border-color: #E2668B;
    transition: transform 0.2s ease-in-out;
}

.tile3 {
    background-color: #ffac2d;
    border-color: #ffac2d;
    transition: transform 0.2s ease-in-out;
}

.tile4 {
    background-color: #fdf748;
    border-color: #fdf748;
    transition: transform 0.2s ease-in-out;
}

.tile5 {
    background-color: #369EC2;
    border-color: #369EC2;
    transition: transform 0.2s ease-in-out;
}

.tile6 {
    background-color: #0A67AD;
    border-color: #0A67AD;
    transition: transform 0.2s ease-in-out;
}

.selected {
    outline: solid 2px red;
}

.matched {
    background-color: white;
}

#score-field {
    width: 100%;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}