body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background: url("./bg2.svg") no-repeat center center fixed;
    background-size: cover;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF6DCAA;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 4px 4px #C4C1A4;

}

#game-field div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
    box-shadow: 0px 1px 1px 1px #292929;
    
}

#game-field div:active {
    box-shadow: 0px 0px 1px 1px #292929;
}

.tile0 {
    opacity: 0;
}

.tile1 {
    background-color: #846AA7;
    border-color: #846AA7;
    transition: transform 0.2s ease-in-out;
}

.tile2 {
    background-color: #E2668B;
    border-color: #E2668B;
    transition: transform 0.2s ease-in-out;
}

.tile3 {
    background-color: #ffac2d;
    border-color: #ffac2d;
    transition: transform 0.2s ease-in-out;
}

.tile4 {
    background-color: #fdf748;
    border-color: #fdf748;
    transition: transform 0.2s ease-in-out;
}

.tile5 {
    background-color: #369EC2;
    border-color: #369EC2;
    transition: transform 0.2s ease-in-out;
}

.tile6 {
    background-color: #0A67AD;
    border-color: #0A67AD;
    transition: transform 0.2s ease-in-out;
}

.selected {
    outline: solid 2px red;
}

.matched {
    background-color: white;
}

.info-field {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    transform: translate(-50%, 0);
    left: 50%;
    padding: 10px 800px;
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    color: #998e2a;
    background-color: #ffffffbb;
    width: 100%;
}

.hide {
    display: none;
}

.final-block {
    width: 230px;
    height: 120px;
    position: relative;
    background-color: #FFF6DC;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    top: 40vh;
    left: 50vw;
    padding: 10px;
    box-shadow: 0px 0px 4px 4px #C4C1A4;
}

#final-score,
.final-text {
    text-align: center;
    text-transform: uppercase;
}

#final-score {
    font-weight: bold;
}

.btn {
    position: relative;
    transform: translate(-50%, -50%);
    top: 40vh;
    left: 50vw;
    transition: trans;
    width: 220px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background-color: #998e2a;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

